<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7ff504a9-34b0-4096-9586-df883a7d8f88/resourcegroups/presa/providers/Microsoft.Web/sites/ligabasquetbolpresa</ResourceId>
    <ResourceGroup>presa</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ligabasquetbolpresa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>ligabasquetbolpresa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ligabasquetbolpresa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ligabasquetbolpresa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LBPEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LBP.Web.Models.LBPEntities, LBP.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LBP.Web-20180515042931.mdf;Initial Catalog=aspnet-LBP.Web-20180515042931;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LBP.Web-20180515042931.mdf;Initial Catalog=aspnet-LBP.Web-20180515042931;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LBPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>