<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\User-Pc\Documents\GitHub\Liga Baloncesto Presa\LBP.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ligabasquetbolpresa</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LBPEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LBP.Web.Models.LBPEntities, LBP.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LBP.Web-20180515042931.mdf;Initial Catalog=aspnet-LBP.Web-20180515042931;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LBP.Web-20180515042931.mdf;Initial Catalog=aspnet-LBP.Web-20180515042931;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LBPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=moranh.database.windows.net;Initial Catalog=LBP1;User ID=moranh;Password=H3ct0rM25Fh"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>